.header {
   color: rgb(65, 184, 54);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 46px;
    background-color: blanchedalmond;
}


.listone,
.listtwo,
.listthree,
.listfour {
    text-align: center;
    color: rgb(29, 159, 219);
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
